@model List<adAdgenstvo.Models.Service>

<h2>Создать заявку</h2>

<form asp-action="CreateRequisition" method="post">
    <div class="form-group">
        <label for="Text">Текст заказа:</label>
        <input type="text" id="Text" name="Text" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Выберите услуги:</label>
        @foreach (var service in Model)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="service-@service.Id" name="SelectedServiceIds" value="@service.Id">
                <label class="form-check-label" for="service-@service.Id">
                    @service.Name
                </label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Создать заявку</button>
</form>
