@model IEnumerable<adAdgenstvo.Models.DataBaseModels.Order>
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Index";
}
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .search-container {
        flex: 1;
        padding-right: 20px;
    }

    #orderTablePartialContainer {
        flex: 3;
    }

</style>
<p>
    <a asp-action="Index" asp-controller="User" class="btn btn-secondary">В кабинет</a>
    @if (User.IsInRole("Client"))
    {
        <a asp-controller="Order" asp-action="Create" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-danger m-1">создать заявку</a>
    }
</p>
<div class="flex-container">
    <div class="search-container">
        <label for="searchId">Id:</label>
        <input type="number" id="searchId" />
        <br />
        <label for="searchClientId">ClientId:</label>
        <input type="number" id="searchClientId" />
        <br />
        <label for="searchAgentId">AgentId:</label>
        <input type="number" id="searchAgentId" />
        <br />
        <label for="searchStatus">Status:</label>
        <input type="text" id="searchStatus" />
        <br />
        <label for="searchNullAgent">Нету агента</label>
        <input type="checkbox" id="searchNullAgent" />

    </div>

    <div id="orderTablePartialContainer">
    </div>
</div>
@section Scripts {
    <script>
        function loadOrders() {
            var searchId = $("#searchId").val();
            var searchClientId = $("#searchClientId").val();
            var searchAgentId = $("#searchAgentId").val();
            var searchStatus = $("#searchStatus").val();
            var searchNullAgent = $("#searchNullAgent").prop("checked");

            $.ajax({
                url: '@Url.Action("LoadOrders", "Order")',
                type: 'GET',
                data: {
                    searchId: searchId,
                    searchClientId: searchClientId,
                    searchAgentId: searchAgentId,
                    searchStatus: searchStatus,
                    searchNullAgent: searchNullAgent
                },
                success: function (result) {
                    $("#orderTablePartialContainer").html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        $(document).ready(function () {
            loadOrders();
            $("#searchButton").on("click", function () {
                loadOrders();
            });
            $("#searchId, #searchClientId, #searchAgentId, #searchStatus, #searchNullAgent").on("change", function () {
                loadOrders();
            });
        });
    </script>
}