@model List<adAdgenstvo.Models.DataBaseModels.PriceService>

@{
    ViewData["Title"] = "Цены";
}

<style>
    .content-container {
        display: flex;
        align-items: flex-start;
    }

    .search-container {
        flex: 0 0 300px;
        padding-right: 20px;
    }

    .results-container {
        flex-grow: 1;
    }
</style>


<h2>Цены</h2>
<a asp-action="Index" asp-controller="User" class="btn btn-secondary">В кабинет</a>
<a asp-action="Index" asp-controller="Service" class="btn btn-secondary">Все услуги</a>
<a asp-action="Create" class="btn btn-success">Создать</a>
<div class="content-container">
    <div class="search-container">
        <form id="searchForm" asp-action="Index" asp-controller="PriceServices" method="get">
            <label for="id">ID услуги:</label><br />
            <input id="id" name="id" value="@ViewData["CurrentId"]?.ToString()" /><br />
            <label for="priceServiceName">Имя услуги цены:</label><br />
            <input id="priceServiceName" type="text" name="priceServiceName" /><br />
            <label for="serviceName">Имя услуги:</label><br />
            <input id="serviceName" type="text" name="serviceName" /><br />
            <label for="priceServiceId">ID услуги цены:</label><br />
            <input id="priceServiceId" type="number" name="priceServiceId" /><br />
            <button type="submit" onclick="searchPriceServices(); return false;">Поиск</button>
        </form>
        </div>
        <div id="searchResult">
        </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        searchPriceServices();
    });
    function clearSearch() {
        $('#searchForm input[name="searchString"]').val('');
        searchPriceServices();
    }

    function deletePriceService(id) {
        if (confirm('Вы уверены, что хотите удалить?')) {
            $.ajax({
                url: '@Url.Action("Delete", "PriceServices")',
                type: 'POST',
                data: { id: id },
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                        $('.table').find('tr[data-price-service-id="' + id + '"]').remove();
                    } else {
                        alert('Ошибка при удалении цены1. ' + result.message);
                    }
                },
                error: function (error) {
                    alert('Ошибка при удалении цены22. ' + error.responseText);
                }
            });
        }
    }

    function searchPriceServices() {
        var priceServiceName = $('#searchForm input[name="priceServiceName"]').val();
        var serviceName = $('#searchForm input[name="serviceName"]').val();
        var priceServiceId = $('#searchForm input[name="priceServiceId"]').val();
        var id = $('#searchForm input[name="id"]').val();

        $.ajax({
            url: '@Url.Action("SearchResults", "PriceServices")',
            type: 'GET',
            data: { priceServiceName: priceServiceName, serviceName: serviceName, priceServiceId: priceServiceId, id: id },
            success: function (result) {
                $('#searchResult').html(result);
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

</script>
